html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url('bg.jpg')no-repeat;
  background-size: cover;

}
.header .container{
  border-bottom: 1px solid #fff;;
  text-align: center;
  height: 150px;
  max-width: 940px;
}
.header img {
  width: 30%;
  margin-top: 10px;
}
.container {
  color: #fff;
  max-width: 940px;
}

.btn {
  background-color: rgba(255, 247, 52, 1);
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  transition: all 0.35s;
  margin-bottom: 15px;
  outline: 0 !important;
}
.btn:hover {
  color:#fff734;
  background-color: rgba(51,51,51,1);
  transition: all 0.35s;
}
.btn:focus {
  outline: 0 !important;
}
.footer .container {
  border-top: 1px solid #fff;
  display: block;
}
.contact {
  background-color: rgba(255,247,51,1);
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

